<launch>

    <!-- Args -->
    <param name="HOST" type="string" value="127.0.0.1"/>
    <param name="Server_Port" type="int" value="1989"/>
    <param name="Info_Port" type="int" value="2000"/>
    <param name="Loc_Port" type="int" value="2001"/>

    <!-- Server Node -->
    <node name="main_server" pkg="app_server" type="Server.py" output="screen"/>
    <node name="info_server" pkg="app_server" type="InfoServer.py" output="screen"/>
    <node name="loc_server" pkg="app_server" type="LocServer.py" output="screen"/>
    <node name="contro_server" pkg="app_server" type="ControServer.py" output="screen"/>

</launch>